@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
  background: linear-gradient(135deg, #282727, #201e1e);
  background-size: cover;
  background-repeat: none;
}

h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(197, 48, 48, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;

  z-index: 1;
  background: radial-gradient(circle, #ff10f1, transparent 70%);
}
